.container {
  position: relative;
  /* border: 1px solid black; */
  margin: 1em;
  padding: 1em;
  width: 24vw;
  height: 26vw;
  overflow-x: hidden;
  overflow-y: scroll;


  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 4px 7px 0px hsla(0, 0%, 0%, 0.32);
}

.header {
  /* border: 1px solid red; */
  width: 100%;
  height: fit-content;
  margin-bottom: 1em;
  text-align: left;
  display: flex;
}

.headerText {
  display: inline-block;
  display: inline-block;
  padding-left: 2em;

}
.circle {
    width: 80px;
    height: 80px;
    border: 4px solid #c9c9c9;
    display: inline-block;
    border-radius: 50%;
    background-size: contain;
}

#High-Snobiety {
  background: url(/assets/highsnobiety.png);
}

.articleContainer {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.articleItem {
  border-bottom: 1px solid #32a8e6;
  /* width: 100%; */
  /* height: 60%; */
  /* left: 0;
  top: 0; */
  margin-top: 2px;
  margin-bottom: 2px;

  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.thumbnailAndtitle {
  /* border: 1px solid red; */
  height: 10em;
  display: inline-block;
  /* align-content: space-between;
  flex-direction: row; */

  display: flex;
}

.articleTitle {
  /* border: 1px solid black; */
  text-align: left;
  padding: 1em;
}

/* .imageContainer {
  height: 7em;
  width: 10em;
  border: 1px solid black;
  background-size: contain;
} */

.articleImage {
  height: 10em;
   width: 10em;
  border: 1px solid black;
  background-size: contain;
}

.articleContent {
  /* border: 1px solid yellow; */
  /* height: 40%; */
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.articleFooter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}


.articleLink {
  /* border: 1px solid green; */
  height: 10%;
  padding-left: 0.5em;
}

.articleCategory {
  /* border: 1px solid red; */
  height: 10%;
  width: 48%;
  text-align: right;
  padding-right: 0.5em;

}

@media screen and (max-width: 380px) {
  .container{
    /* background-color: red; */
    width: 67vw;
    height: 67vh;
  }
  .thumbnailAndtitle {
    flex-direction: column;
    align-items: center;
  }
  .articleTitle {
    /* border: 1px solid black; */
    margin: 0.5em;
    padding: 0;
  }
}
