.Navbar {
  height: 100vh;
  width: 5vw;
  background-color: grey;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1em;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */

  background-color: #e3e3e3;
  border-right: 2px solid #31a8e6;
  /* border-right: 2px solid rgb(200, 255, 175); */

  margin-bottom: 2em;
}

.nav__links {
  color: black;
  text-decoration: none;
  margin-top: 1em;
}

.nav__links:hover {
  color: #31a8e6;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 1em;
}

.category {
  cursor: pointer;
}

.logoContainer {
}

.icon {
  width: 50px;
  height: 50px;
  border: 2px solid #c9c9c9;
  display: inline-block;
  border-radius: 50%;
  background-size: contain;
}

.btn {
  height: 20px;
  border-top: 4px solid #333;
  border-top: 4px solid #333;
  border-bottom: 4px solid #333;
}

.menuIconWrapper {
  display: flex;
  justify-content: center;
  padding: 2em 0 2em 0;
}

.menuIcon {
  position: relative;
  display: block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  cursor: pointer;
}

.menuIcon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  /*   transform-origin: 0 0%; */
}

.menuIcon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  /*   transform-origin: 0% 100%; */
}

.menuIcon.menuIcon-active {
  background-color: transparent;
}

.menuIcon.menuIcon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menuIcon.menuIcon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 1em;
  }
  /* .sidenav a {font-size: 18px;} */
}
